<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<a href="https://www.flaticon.com/free-icons/bookworm" title="bookworm icons">Bookworm icons created by Freepik - Flaticon</a>-->
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>Butter</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>


<body>

  <nav class="nav">
        <ul id="logout-menu">
          <li>
            {{#if loggedIn}}
            <a href="/" class="login-link">Home</a>
          </li>
          <li>
            <a href="/my-events" class="login-link">
                My Events
            </a>
          </li>
          <li>
            <a href="/createNewEvent" class="login-link">Book an event</a>
          </li>
          <li>
            <a href="/reviews" class="login-link">Reviews</a>
          </li>
          <li>
            <a href="/services-list" class="login-link">Services & Pricing</a>
          </li>
          <li>
            <button href="/" id="logout" class="login-link">Logout</button>
            {{else}}
          </li>
        </ul>
        <ul id="login-menu">
          <li>
            <a href="/" class="login-link">Home</a>
          </li>
          <li>
            <a href="/login" class="login-link">Login/Signup</a>
          </li>
          <li>
            <a href="/api/reviews" class="login-link">Reviews</a>
          </li>
          <li>
            <a href="/services-list" class="login-link">Services & Pricing</a>
            {{/if}}
          </li>
        </ul>
  </nav>

  <main>
    {{{ body }}}
  </main>
  <footer>
    <p class="footer">&copy; Butter 2022</p>
    <a href="https://github.com/alinz07" target="_blank" class="footer">Web design by Tony Linz</a>
  </footer>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>