<header>
	<img id="hero" src="images/cooking.jpg" alt="Eli cooking" />
	<div id="welcome-div">
		<a href="/">
			<img id="butter" src="images/butter.jpg" alt="gourmet butter" />
		</a>
		<h1>
			Welcome to Butt&eacuter
			<span id="pron">(pron. boo-tare)</span>
		</h1>
		<h2>
			Eli's private event catering
		</h2>
		<h6>
			Fond Du Lac, WI
		</h6>
	</div>
</header>

<p class="welcome">Hello neighbor! My name is Eli and I'd love to cater your
	next event. I specialize in x and have been perfecting my cooking skills for
	y years. Other accolades here. Passions and more about you in your free
	time. Words of friendship/inspiration.
</p>

<div id="carousel">
	image carousel goes here
</div>
<!-- Display all posts -->
{{!-- <ol class="post-list">
	{{#each users as |user|}}
		<li>
			{{user.id}}
			{{user.username}}
			{{user.email}}
		</li>
	{{/each}}
</ol> --}}