<div id="carousel">
	image carousel goes here
</div>

<!-- Display all posts -->
<ol class="post-list">
	{{#each users as |user|}}
		<li>
			{{user.id}}
			{{user.username}}
			{{user.email}}
		</li>
	{{/each}}
</ol>