<h2 class="col-sm-3" id="page-title">My Events Dashboard</h2>

{{#if isEli}}
<section>
  <h1 class="numEvents">
    {{numEvents}} event(s) on the books
  </h1>
  <div>
    <a href="https://calendly.com/generaliroh91127/catering" target="_blank" class="login-link">Manage my events calendar on calendly in a new tab</a>
  </div>
</section>

<form class="new-post-form col-sm-6 container">
			<div>
				<label for="user_id">Client name</label>
				<input
					type="text"
					id="client-name"
					name="client-name"
				/>
			</div>

			<div>
				<label for="date">Date (YYYY-MM-DD)</label>
				<input type="text" id="date" name="date" />
			</div>

			<div>
				<label for="address">Address</label>
				<input type="text" id="address" name="address" />
			</div>

			<div>
				<label for="time">Time (HH:MM:SS, must be military time)</label>
				<input type="text" id="time" name="time" />
			</div>
			<div>
				<label for="price">Price (select the services you're reqeusting)</label>
				<input class="price-input" type="text" id="price" name="price"/>
			</div>
			<div>
				<label for="guests">Guests (estimated number of guests, must be a whole number, not a range)</label>
				<input type="text" id="guests" name="guests" />
			</div>
			<button type="submit" class="btn create-post">Request Booking</button>
	  </form>

{{/if}}

<!-- View all user's events -->
<section class="container-fluid row align-items-center">
  <div class="col">
    {{!-- <h3 id="dash-review-title">Your Reviews</h3> --}}
    {{#if Events.length}}
    <ol class="post-list">
      {{#each Events as |event|}}
      <li>
        {{> event-info event}}
      </li>
      <button class="login-link cancel-event-btn" id={{id}}>Cancel Event</button>
      {{/each}}
    </ol>
    {{else}}
    <ol id="no-reviews">
      <li>
        No events to display yet. Book an event today by select Book an Event above!
      </li>
    </ol>
    {{/if}}
  </div>
</section>

<script src="/javascript/delete-an-event.js"></script>
<script src="/javascript/add-event.js"></script>