<section class="container-fluid new-post-container">
	<div class="row justify-content-around">

	  <h2 class="book-event">Thank you for booking an event! All bookings are requests and will appear in your events before I've confirmed availablity. Once I review your event and my availability, I will email you at the email address provided to confirm your event. I look forward to working with you!</h2>

      <section class="container-fluid row align-items-center">
        <div class="col">
          {{!-- <h3 id="dash-review-title">Your Reviews</h3> --}}
          {{#if events.length}}
          <ol class="post-list">
            {{#each events as |event|}}
            <li>
              {{> event-info event}}
            </li>
            {{/each}}
          </ol>
          {{else}}
          <ol id="no-reviews">
            <li>
              No events booked yet.
            </li>
          </ol>
          {{/if}}
        </div>
      </section>

	  <form class="new-post-form col-sm-6 container">
			<div>
				<label for="user_id">User_Id (we generate this for you)</label>
				<input
					type="text"
					id="user_id"
					name="user_id"
					value="{{user_id}}"
					readonly
				/>
			</div>

			<div>
				<label for="date">Date (YYYY-MM-DD)</label>
				<input type="text" id="date" name="date" />
			</div>

			<div>
				<label for="address">Address</label>
				<input type="text" id="address" name="address" />
			</div>

			<div>
				<label for="time">Time (HH:MM:SS, must be military time)</label>
				<input type="text" id="time" name="time" />
			</div>
			<div>
				<label for="price">Price (select the services you're reqeusting)</label>
				<input class="price-input" type="text" id="price" name="price"/>
			</div>
			<div>
				<label for="guests">Guests (estimated number of guests, must be a whole number, not a range)</label>
				<input type="text" id="guests" name="guests" />
			</div>
			<button type="submit" class="btn create-post">Request Booking</button>
	  </form>

      <form class="new-post-form col-sm-6 container service-choices">
	    <div>
	  		<label for="breakfast">3 course breakfast $500</label>
	  		<input class="service-choice" type="radio" id="breakfast" name="service" value="500"/>
	    </div>
	    <div>
	  		<label for="lunch">3 course lunch $400</label>
	  		<input class="service-choice" type="radio" id="lunch" name="service" value="400"/>
	    </div>
	    <div>
	  		<label for="dinner">3 course dinner $700</label>
	  		<input class="service-choice" type="radio" id="dinner" name="service" value="700"/>
	    </div>
	  </form>

	</div>
</section>

<script src="/javascript/add-event.js"></script>