<section class="container-fluid new-post-container">
	<div class="row justify-content-around">

		<form class="new-post-form col-sm-6 container">

			<h2>Event Info</h2>

      <section class="container-fluid row align-items-center">
        <div class="col">
          {{!-- <h3 id="dash-review-title">Your Reviews</h3> --}}
          {{#if events.length}}
          <ol class="post-list">
            {{#each events as |event|}}
            <li>
              {{> event-info event}}
            </li>
            {{/each}}
          </ol>
          {{else}}
          <ol id="no-reviews">
            <li>
              No Events to display yet.
            </li>
          </ol>
          {{/if}}
        </div>
      </section>

			<div>
				<label for="user_id">User_Id:</label>
				<input
					type="text"
					id="book-title"
					name="book-title"
					value="{{user_id}}"
					readonly
				/>
			</div>

			<div>
				<label for="book-author">Date:</label>
				<input type="text" id="book-author" name="book-author" />
			</div>

			<div>
				<label for="book-title">Address:</label>
				<input type="text" id="book-title" name="book-title" />
			</div>

			<div>
				<label for="book-author">Time:</label>
				<input type="text" id="book-author" name="book-author" />
			</div>
			<div>
				<label for="book-author">Price:</label>
				<input type="text" id="book-author" name="book-author" />
			</div>
			<div>
				<label for="book-author">Guests:</label>
				<input type="text" id="book-author" name="book-author" />
			</div>

			<button type="submit" class="btn create-post">Request Booking</button>

		</form>

	</div>
</section>

<script src="/javascript/add-event.js"></script>