<form class="new-post-form col-sm-6 container">
	<div>
		<label for="review_text">Please leave a review if you enjoyed my
			services!</label>
		<input type="textarea" id="review_text" name="review-text" />
	</div>
	<div>
		<label for="customer_name">Review written by:</label>
		<input type="text" id="customer_name" name="customer_name" />
	</div>
	<div>
		<label for="code">Review code:</label>
		<input type="text" id="code" name="code" />
	</div>
	<button type="submit" class="btn create-post">Submit Review</button>
</form>

<!-- iterate over the reviews array to show all reviews -->
{{#each reviews as |review|}}
	<div class="comments">
		<section class="comment">
			<div>
				Review by:
				{{customer_name}}
				on
				{{createdAt}}
			</div>
			<div class="text">
				{{review_text}}
			</div>
			<div>
				Review Id:
				{{id}}
			</div>
		</section>
	</div>
{{/each}}

{{#if isEli}}
	<form class="del-review-form col-sm-6 container">
		<div>
			<label for="review-id">ID of review I'm deleting</label>
			<input type="text" id="review-id" name="review-id" />
		</div>
		<button type="submit" class="btn del-review create-post">Delete Review</button>
	</form>
{{/if}}

<script src="/javascript/edit-reviews.js"></script>