header {
	display: flex;
	height: 500px;
	justify-content: space-around;
}
header > a {
	height: min-content;
}
#hero {
	width: 80%;
	height: fit-content;
}
#welcome-div {
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
}
#welcome-div > * {
	color: white;
	width: 100%;
	text-align: center;
}
#welcome-div > h1 {
	margin-top: 20px;
}
#welcome-div > h2 {
	margin-top: 20px;
}
#pron {
	font-size: 1rem;
}
.nav,
#login-menu {
	display: flex;
	justify-content: center;
	margin: 15px 0;
}
#login-menu > li {
	margin-right: 35px;
	margin-left: 35px;
}
#logout-menu {
	display: flex;
}
#logout-menu > * {
	margin: 0 35px;
}
#butter {
	width: 300px;
}
.login-link,
#comment-btn,
.dash-create-new-btn,
.login-btn,
#logout,
.signup-btn {
	padding: 5px 10px;
	border: 3px darkslategrey solid;
	color: darkgoldenrod;
	border-radius: 5px;
	font-family: Brush Script MT, Brush Script Std, cursive;
	font-size: 2rem;
}
.welcome {
	font-size: 1.2em;
	margin-top: 50px;
	color: white;
	margin-bottom: 50px;
}
#carousel {
	color: white;
	text-align: center;
	margin-top: 75px;
}
body,
html {
	background-color: #202020;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	color: rgb(0, 0, 0);
}
h2 {
	color: rgb(116, 28, 28);
	font: bold;
}
header nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
}
a,
#logout {
	text-decoration: none;
	color: darkgoldenrod;
	font-weight: bold;
	background-color: #202020;
}
#logout {
	line-height: normal;
	margin-top: -4px;
}
a:hover {
	color: floralwhite;
	background-color: darkslategrey;
}
button:hover {
	color: floralwhite;
	background-color: darkslategrey;
}
#comment-btn,
.login-btn,
.signup-btn {
	font-size: 1em;
	line-height: normal;
	font-weight: bold;
}
ul {
	list-style-type: none;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	display: block;
	/* overflow: hidden; */
}
.del-btn {
	width: 30px;
	color: red;
	font-weight: bolder;
	background-color: floralwhite;
	padding: 0 6px;
	font-size: 20px;
	margin-left: 10px;
}
.numEvents,
.book-event {
	color: darkgoldenrod;
}
.add-book-btn {
	color: green;
	font-weight: bolder;
	font-size: 20px;
	background-color: floralwhite;
	padding: 0 6px;
	margin-left: 10px;
}
textarea,
input {
	padding: 0.5%;
	border-radius: 5px;
	border: 1px solid #ccc;
}
/* remove bullets from list */
.post-list {
	list-style: none;
}

/* Page titles */
#page-title {
	font-size: 40px;
	font-weight: bold;
	background-color: floralwhite;
	padding: 10px;
	text-align: center;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom: 3px solid darkslategrey;
	border-top: 3px solid darkslategrey;
	border-right: 3px solid darkslategrey;
}

/* Post Partials */
#post-container {
	background-color: floralwhite;
	border: 3px solid darkslategrey;
	border-radius: 10px;
	margin: 30px auto;
	padding: 10px;
}
#post-headline {
	font-size: 30px;
}
#post-author {
	font-size: 20px;
	color: rgb(116, 28, 28);
}
#post-user-created {
	font-style: italic;
}
#post-review {
	border-top: 1px solid black;
	padding-top: 10px;
	margin-top: 10px;
}
.new-post-form {
	background-color: floralwhite;
	text-align: inherit;
	height: fit-content;
	width: 500px;
	border: 3px solid darkslategrey;
	border-radius: 5px;
}
.new-post-form > * {
	margin: 5px 0;
}
.new-post-container {
	margin-top: 30px;
}
.book-cover {
	width: inherit;
	border: 3px solid darkslategrey;
}

/* Create New Post - exist or new */
.posttype-options {
	background-color: floralwhite;
	color: darkred;
	border-top: 3px solid darkslategrey;
	border-bottom: 3px solid darkslategrey;
	margin-bottom: 50px;
	padding: 10px;
}
#book-exists-link {
	font-weight: bold;
	color: black;
}
.post-menu-row {
	height: 600px;
}
.all-books-to-read {
	color: darkred;
	text-align: center;
	font-weight: bold;
	width: fit-content;
}
.all-books-to-read > h2,
.dash-books-to-read-h,
#dash-review-title {
	border-bottom: 3px darkred solid;
	padding: 10px 150px;
	width: fit-content;
	margin: auto;
}
.all-books-to-read > ol {
	padding-top: 10px;
}

/* dashboard */
.center-btn {
	width: 200px;
	margin: auto;
}
.dash-create-new-btn {
	font-size: 20px;
	padding: 10px;
	width: 200px;
	margin: auto;
}
.dash-books-to-read-sec {
	width: fit-content;
}
.dash-books-to-read-h {
	color: darkred;
	font-weight: bold;
	margin-top: 20px;
}
#dash-book-list {
	padding-top: 10px;
	text-align: center;
	list-style-type: none;
	color: darkred;
	font-size: 20px;
}
.dash-books-list-item {
	padding: 2px 0;
}
.books-to-read-li {
	padding: 2px 0;
}
.dash-books-to-read-div {
	display: block;
	margin: auto;
	width: fit-content;
	text-align: center;
	padding: 15px;
	margin-top: 25px;
	margin-bottom: 25px;
}
#dash-review-title {
	color: darkred;
	font-weight: bold;
	margin-top: 20px;
}
.create-menu-div,
.all-books-to-read,
.dash-books-to-read-div {
	background-color: floralwhite;
	border: 3px solid darkslategrey;
	border-radius: 10px;
	height: fit-content;
}
.create-menu-pic {
	border-radius: 10px;
	background-image: url("../images/book-on-grass.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

#no-books,
#no-reviews {
	list-style: none;
	font-style: italic;
}
#no-reviews {
	background-color: floralwhite;
	border: 3px solid darkslategrey;
	border-radius: 10px;
	height: fit-content;
	text-align: center;
	height: 100px;
}

/* Create New Post page */
#book-review {
	vertical-align: text-top;
}
.create-post {
	font-size: 1em;
	line-height: normal;
	font-weight: bold;
	background-color: floralwhite;
	padding: 5px 10px;
	border: 2px darkslategrey solid;
	color: darkred;
	border-radius: 5px;
}
.create-post:hover {
	color: floralwhite;
	background-color: darkslategrey;
}

/* Comments Partials */
.comments {
	background-color: floralwhite;
	border: 1px solid floralwhite;
	border-radius: 10px;
	margin: 30px auto;
	padding: 10px;
	width: fit-content;
}
.comment {
	border-left: 3px solid rgb(116, 28, 28);
	padding-left: 10px;
}

/* single-post page */
.comment-form > * {
	text-align: center;
}
#comment-form-container {
	border-top: 7px solid darkslategrey;
}
#comment-form-container p {
	color: darkred;
	font-size: 20px;
	margin: 40px auto 10px;
	width: fit-content;
	padding: 10px;
	background-color: navajowhite;
	border-radius: 5px;
	font-weight: bold;
	border: 3px solid darkslategrey;
}
.comment-textarea {
	width: 700px;
}

/* login/sign-up page */
.login-form,
.signup-form {
	background-color: floralwhite;
	text-align: inherit;
	height: fit-content;
	width: 500px;
	border: 3px solid darkslategrey;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	line-height: 200%;
}

.signup-btn,
.login-btn {
	margin: 20px;
}

/* footer */
footer {
	width: fit-content;
	padding: 10px 20px;
	border-radius: 5px;
	margin-top: 50px;
	display: flex;
	color: darkgoldenrod;
	font-family: Brush Script MT, Brush Script Std, cursive;
	font-size: 1.5rem;
}
footer > * {
	margin: 0 20px;
}
